---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    The web framework for <br />
    <span class="text-primary">content-driven websites.</span>
  </Fragment>
</ContentSection>
